Absenteeism Exercice
https://archive.ics.uci.edu/dataset/445/absenteeism+at+work

In [1]:
import pandas as pd
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
absenteeism_at_work = fetch_ucirepo(id=445) 
  
# data (as pandas dataframes) 
X = absenteeism_at_work.data.features 
y = absenteeism_at_work.data.targets 
  
# metadata 
print(absenteeism_at_work.metadata) 
  
# variable information 
print(absenteeism_at_work.variables)

{'uci_id': 445, 'name': 'Absenteeism at work', 'repository_url': 'https://archive.ics.uci.edu/dataset/445/absenteeism+at+work', 'data_url': 'https://archive.ics.uci.edu/static/public/445/data.csv', 'abstract': 'The database was created with records of absenteeism at work from July 2007 to July 2010 at a courier company in Brazil.', 'area': 'Business', 'tasks': ['Classification', 'Clustering'], 'characteristics': ['Multivariate', 'Time-Series'], 'num_instances': 740, 'num_features': 19, 'feature_types': ['Integer', 'Real'], 'demographics': ['Age', 'Education Level'], 'target_col': ['Absenteeism time in hours'], 'index_col': ['ID'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2012, 'last_updated': 'Fri Mar 08 2024', 'dataset_doi': '10.24432/C5X882', 'creators': ['Andrea Martiniano', 'Ricardo Ferreira'], 'intro_paper': {'ID': 414, 'type': 'NATIVE', 'title': 'Application of a neuro fuzzy network in prediction of absenteeism at work', 'authors': 'Andréa Martiniano, R. P. Ferreira, R. Sassi, C. Affonso', 'venue': 'Iberian Conference on Information Systems and Technologies', 'year': 2012, 'journal': None, 'DOI': None, 'URL': 'https://www.semanticscholar.org/paper/Application-of-a-neuro-fuzzy-network-in-prediction-Martiniano-Ferreira/036b8cbfba37eded57ccfbd2243fd4426bdc73bd', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'The data set allows for several new combinations of attributes and attribute exclusions, or the modification of the attribute type (categorical, integer, or real) depending on the purpose of the research.The data set (Absenteeism at work - Part I) was used in academic research at the Universidade Nove de Julho - Postgraduate Program in Informatics and Knowledge Management.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '1. Individual identification (ID)\r\n2. Reason for absence (ICD).\r\nAbsences attested by the International Code of Diseases (ICD) stratified into 21 categories (I to XXI) as follows:\r\n\r\nI Certain infectious and parasitic diseases  \r\nII Neoplasms  \r\nIII Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism  \r\nIV Endocrine, nutritional and metabolic diseases  \r\nV Mental and behavioural disorders  \r\nVI Diseases of the nervous system  \r\nVII Diseases of the eye and adnexa  \r\nVIII Diseases of the ear and mastoid process  \r\nIX Diseases of the circulatory system  \r\nX Diseases of the respiratory system  \r\nXI Diseases of the digestive system  \r\nXII Diseases of the skin and subcutaneous tissue  \r\nXIII Diseases of the musculoskeletal system and connective tissue  \r\nXIV Diseases of the genitourinary system  \r\nXV Pregnancy, childbirth and the puerperium  \r\nXVI Certain conditions originating in the perinatal period  \r\nXVII Congenital malformations, deformations and chromosomal abnormalities  \r\nXVIII Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified  \r\nXIX Injury, poisoning and certain other consequences of external causes  \r\nXX External causes of morbidity and mortality  \r\nXXI Factors influencing health status and contact with health services.\r\n\r\nAnd 7 categories without (CID) patient follow-up (22), medical consultation (23), blood donation (24), laboratory examination (25), unjustified absence (26), physiotherapy (27), dental consultation (28).\r\n3. Month of absence\r\n4. Day of the week (Monday (2), Tuesday (3), Wednesday (4), Thursday (5), Friday (6))\r\n5. Seasons (summer (1), autumn (2), winter (3), spring (4))\r\n6. Transportation expense\r\n7. Distance from Residence to Work (kilometers)\r\n8. Service time\r\n9. Age\r\n10. Work load Average/day \r\n11. Hit target\r\n12. Disciplinary failure (yes=1; no=0)\r\n13. Education (high school (1), graduate (2), postgraduate (3), master and doctor (4))\r\n14. Son (number of children)\r\n15. Social drinker (yes=1; no=0)\r\n16. Social smoker (yes=1; no=0)\r\n17. Pet (number of pet)\r\n18. Weight\r\n19. Height\r\n20. Body mass index\r\n21. Absenteeism time in hours (target)\r\n\r\n.arff header for Weka: \r\n\r\n@relation Absenteeism_at_work\r\n\r\n@attribute ID {31.0, 27.0, 19.0, 30.0, 7.0, 20.0, 24.0, 32.0, 3.0, 33.0, 26.0, 29.0, 18.0, 25.0, 17.0, 14.0, 16.0, 23.0, 2.0, 21.0, 36.0, 15.0, 22.0, 5.0, 12.0, 9.0, 6.0, 34.0, 10.0, 28.0, 13.0, 11.0, 1.0, 4.0, 8.0, 35.0}\r\n@attribute Reason_for_absence {17.0, 3.0, 15.0, 4.0, 21.0, 2.0, 9.0, 24.0, 18.0, 1.0, 12.0, 5.0, 16.0, 7.0, 27.0, 25.0, 8.0, 10.0, 26.0, 19.0, 28.0, 6.0, 23.0, 22.0, 13.0, 14.0, 11.0, 0.0}\r\n@attribute Month_of_absence REAL\r\n@attribute Day_of_the_week {5.0, 2.0, 3.0, 4.0, 6.0}\r\n@attribute Seasons {4.0, 1.0, 2.0, 3.0}\r\n@attribute Transportation_expense REAL\r\n@attribute Distance_from_Residence_to_Work REAL\r\n@attribute Service_time INTEGER\r\n@attribute Age INTEGER\r\n@attribute Work_load_Average/day_ REAL\r\n@attribute Hit_target REAL\r\n@attribute Disciplinary_failure {1.0, 0.0}\r\n@attribute Education REAL\r\n@attribute Son REAL\r\n@attribute Social_drinker {1.0, 0.0}\r\n@attribute Social_smoker {1.0, 0.0}\r\n@attribute Pet REAL\r\n@attribute Weight REAL\r\n@attribute Height REAL\r\n@attribute Body_mass_index REAL\r\n@attribute Absenteeism_time_in_hours REAL', 'citation': None}}
                               name     role        type      demographic  \
0                                ID       ID     Integer             None
1                Reason for absence  Feature     Integer             None
2                  Month of absence  Feature     Integer             None
3                   Day of the week  Feature     Integer             None
4                           Seasons  Feature     Integer             None
5            Transportation expense  Feature     Integer             None
6   Distance from Residence to Work  Feature     Integer             None
7                      Service time  Feature     Integer             None
8                               Age  Feature     Integer              Age
9            Work load Average/day   Feature  Continuous             None
10                       Hit target  Feature     Integer             None
11             Disciplinary failure  Feature     Integer             None
12                        Education  Feature     Integer  Education Level
13                              Son  Feature     Integer             None
14                   Social drinker  Feature     Integer             None
15                    Social smoker  Feature     Integer             None
16                              Pet  Feature     Integer             None
17                           Weight  Feature     Integer             None
18                           Height  Feature     Integer             None
19                  Body mass index  Feature     Integer             None
20        Absenteeism time in hours   Target     Integer             None

   description units missing_values
0         None  None             no
1         None  None             no
2         None  None             no
3         None  None             no
4         None  None             no
5         None  None             no
6         None  None             no
7         None  None             no
8         None  None             no
9         None  None             no
10        None  None             no
11        None  None             no
12        None  None             no
13        None  None             no
14        None  None             no
15        None  None             no
16        None  None             no
17        None  None             no
18        None  None             no
19        None  None             no
20        None  None             no

In [2]:
X

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index
0,26,7,3,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30
1,0,7,3,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31
2,23,7,4,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31
3,7,7,5,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24
4,23,7,5,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,14,7,3,1,289,36,13,33,264.604,93,0,1,2,1,0,1,90,172,30
736,11,7,3,1,235,11,14,37,264.604,93,0,3,1,0,0,1,88,172,29
737,0,0,3,1,118,14,13,40,271.219,95,0,1,1,1,0,8,98,170,34
738,0,0,4,2,231,35,14,39,271.219,95,0,1,2,1,0,2,100,170,35
739,0,0,6,3,179,45,14,53,271.219,95,0,1,1,0,0,1,77,175,25

In [3]:
y

     Absenteeism time in hours
0                            4
1                            0
2                            2
3                            4
4                            2
..                         ...
735                          8
736                          4
737                          0
738                          0
739                          0

[740 rows x 1 columns]

In [ ]:
data = pd.concat([X, y], axis =1)  
data

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,26,7,3,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,4
1,0,7,3,1,118,13,18,50,239.554,97,1,1,1,1,0,0,98,178,31,0
2,23,7,4,1,179,51,18,38,239.554,97,0,1,0,1,0,0,89,170,31,2
3,7,7,5,1,279,5,14,39,239.554,97,0,1,2,1,1,0,68,168,24,4
4,23,7,5,1,289,36,13,33,239.554,97,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,14,7,3,1,289,36,13,33,264.604,93,0,1,2,1,0,1,90,172,30,8
736,11,7,3,1,235,11,14,37,264.604,93,0,3,1,0,0,1,88,172,29,4
737,0,0,3,1,118,14,13,40,271.219,95,0,1,1,1,0,8,98,170,34,0
738,0,0,4,2,231,35,14,39,271.219,95,0,1,2,1,0,2,100,170,35,0
739,0,0,6,3,179,45,14,53,271.219,95,0,1,1,0,0,1,77,175,25,0

### PreProcessing

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reason for absence               740 non-null    int64
 1   Month of absence                 740 non-null    int64
 2   Day of the week                  740 non-null    int64
 3   Seasons                          740 non-null    int64
 4   Transportation expense           740 non-null    int64
 5   Distance from Residence to Work  740 non-null    int64
 6   Service time                     740 non-null    int64
 7   Age                              740 non-null    int64
 8   Work load Average/day            740 non-null    float64
 9   Hit target                       740 non-null    int64
 10  Disciplinary failure             740 non-null    int64
 11  Education                        740 non-null    int64
 12  Son                              740 non-null    int64
 13  Social drinker                   740 non-null    int64
 14  Social smoker                    740 non-null    int64
 15  Pet                              740 non-null    int64
 16  Weight                           740 non-null    int64
 17  Height                           740 non-null    int64
 18  Body mass index                  740 non-null    int64
 19  Absenteeism time in hours        740 non-null    int64
dtypes: float64(1), int64(19)
memory usage: 115.8 KB

After reviewing the features listed, it does not seem necesary to drop any. All can be used to make predictions on whether an individul is going to be absent or not.
If is was necessary to drop a feature the following code would be applied `data.drop(["`feature_name`"], axis = 1, inplace= True)` or  `data.drop(["`feature_name`"], axis = 1)`

In [13]:
# apply dummy variables   https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html
reason = pd.get_dummies(data["Reason for absence"], dtype = int)

In [14]:
reason

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
737,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
738,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
739,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
reason["check"] = reason.sum(axis =1)
reason

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
737,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
738,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
739,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
print(reason["check"].sum(axis =0))

740.0

In [22]:
reason =reason.drop(["check"], axis = 1)
reason

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
737,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
738,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
739,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#multicollinearity

reason = pd.get_dummies(data["Reason for absence"], dtype = int, drop_first=True)